export(Create.Synthetic)
export(Initial.estimates)
export(Resample.gamma.binaryY)
export(Resample.gamma.continuousY)
importFrom("stats", "as.formula", "binomial", "coef", "cov", "dbinom",
               "dnorm", "gaussian", "glm", "lm", "predict", "rbinom",
               "rnorm", "sigma")
importFrom(magrittr, "%>%")
export("%>%")
importFrom(dplyr, filter)
importFrom(dplyr, select)
importFrom(dplyr, arrange)
importFrom(dplyr, group_by)
importFrom(dplyr, summarize)
importFrom(dplyr, summarise)